section.e-personas__term.e-section.e-section--medium
  .e-container
    - title = "Resolvemos tus dudas"
    +title("h2", title).e-title.e-title--dark-blue
    - 
      accordion_list = [
        {
          'title' : 'Términos y Condiciones',

          'gtm_category' : 'Personas',
          'gtm_action' : '',
          'gtm_label' : '',
          'gtm_type' : 'click'
        },
      ]
    +accordion("e-catalog__considerations").m-accordion--personas
      each accordion, index in accordion_list
        +accordion_item(accordion.title)(
          gtmType=accordion.gtm_type
          gtmCategory=accordion.gtm_category
          gtmAction=accordion.gtm_action
          gtmLabel=accordion.gtm_label
          )
          if index === 0
            include term/_terminos_condiciones

