- title_page = "Digital TECH | Venta de productos electrónicos"

include ../../../base/vars
include ../../../mixins/mixins

- img_path = '../../../../assets/img/proyectos/digital-tech/'
- landing_name = 'Digital TECH'

+html_template_clear
    button#anadir
        #carrito 
            .titulo
                h3 Tu Lista de Compras 
            #contenedor
                each item in [1, 2, 3, 4]
                    .producto 
                        img
                        .descripcion 
                            p nombre_producto 
                            p precio producto

        