- title_page = "Digital TECH | Venta de productos electrónicos"

include ../../../base/vars
include ../../../mixins/mixins

- img_path = '../../../../assets/img/proyectos/digital-tech/'
- landing_name = 'Digital TECH'

+html_template_clear


        
        
