- title_page = "Ecoshop | Venta de productos reciclados"

include ../../../base/vars
include ../../../mixins/mixins

- img_path = '../../../../assets/img/proyectos/ecoshop/'
- landing_name = 'Ecoshop'

+html_template_clear