- title_page = "Digital TECH | Venta de productos electrónicos"

include ../../../base/vars
include ../../../mixins/mixins

- img_path = '../../../../assets/img/proyectos/digital-tech/'
- landing_name = 'Digital TECH'

+html_template_clear
    header
        .top-bar
            .top-bar__content.container-responsive
                .top-bar__logo
                .top-bar__input-search
                    input(type='search', name='search', placeholder='Búsqueda')
                .top-bar__login
                    .top-bar__account
                        img(src=img_path + "user.png", alt="Icono Usuario")
                        a(href="javascript:void(0)") Mi cuenta
                    .top-bar__car
                        a(href="javascript:void(0)") #[img(src=img_path + "shopping-cart.png", alt="Icono Carrito de compras")]
        nav.nav-bar
            ul 
                li #[a(href='javascript:void(0)') Inicio]
                li #[a(href='javascript:void(0)') Celulares]
                li #[a(href='javascript:void(0)') Computadoras]
                li #[a(href='javascript:void(0)') Laptops]
                li #[a(href='javascript:void(0)') Tablets]
        .banner 


        
