- title_page = "Digital TECH | Venta de productos electrónicos"

include ../../../base/vars
include ../../../mixins/mixins

- img_path = '../../../../assets/img/proyectos/digital-tech/'
- landing_name = 'Digital TECH'

+html_template_clear
<<<<<<< HEAD
    #contenedor 
        .filtros
            h2 FILTROS 
            h3 Marca
=======
    h1 TJNGJNVJDFK
    
>>>>>>> cba6dce1292126d3372ff54577ef4c974e5cfed8
