- title_page = "Digital TECH | Venta de productos electrónicos"

include ../../../base/vars
include ../../../mixins/mixins

+html_template_clear
    #contenedor 
        .filtros
            h2 FILTROS 
            h3 Marca 
            input(type="text")
            .checkbox
                label
                    input(type="checkbox" value="SAMSUNG")
                    | SAMSUNG
                    span 6
            .checkbox
                label 
                    input(type="checkbox" value="LG")
                    | LG
                    span 7
            .checkbox
                label
                    input(type="checkbox" value="XIAOMI")
                    | XIAOMI
                    span 3
            .checkbox
                label
                    input(type="checkbox" value="MOTOROLA")
                    | MOTOROLA
                    span 6
            .checkbox
                label
                    input(type="checkbox" value="HUAWEI")
                    | HUAWEI
                    span 10
            .checkbox
                label
                    input(type="checkbox" value="APPLE")
                    | APPLE
                    span 2
            h3 Precio 
            p Selecciona un rango de precio para filtrar tu búsqueda:
            input(type="range" min="500" max="5000" value="2500")
            input(type="submit"  value="Aplicar filtros")
        .productos
            .cmb
                select
                    option(value="opcion1" selected) Recomendados
                    option(value="opcion2") Mayor Precio
                    option(value="opcion3") Menor Precio
                    option(value="opcion4") Más Vendidos
            .producto
                .card
                    img(src="" alt="Samsung Galaxy A33 5G")
                    h3 Samsung Galaxy A33 5G
                    p S/1248
                    input(type="submit" value="Añadir al carrito")
                .card
                    img(src="" alt="XIAOMI REDMI NOTE 11")
                    h3 Xiaomi Redmi Note 11"
                    p S/1479
                    input(type="submit" value="Añadir al carrito")
                .card
                    img(src="" alt="iphone 11 6.1")
                    h3 iphone 11 6.1
                    p S/3499
                    input(type="submit" value="Añadir al carrito")
                .card
                    img(src="" alt="LG WING 56")
                    h3 LG Wing 56
                    p S/2652
                    input(type="submit" value="Añadir al carrito")
                .card
                    img(src="" alt="XIAOMI 12")
                    h3 XIAOMI 12
                    p S/619
                    input(type="submit" value="Añadir al carrito")
                .card
                    img(src="" alt="MOTOROLA MOTO G60S")
                    h3 MOTOROLA MOTO G60S
                    p S/729
                    input(type="submit" value="Añadir al carrito")
                .card
                    img(src="" , alt="GALAXY S23 ULTRA")
                    h3 GALAXY S23 ULTRA
                    p S/4499
                    input(type="submit" value="Añadir al carrito")
                .card
                    img(src="" alt="XIAOMI 12S ULTRA")
                    h3 XIAOMI 12S ULTRA
                    p S/4700
                    input(type="submit" value="Añadir al carrito")