- title_page = "Digital TECH | Venta de productos electrónicos"

include ../../../base/vars
include ../../../mixins/mixins

- img_uno = '../../../../assets/img/proyectos/digital-tech/prod_mobile.png'

+html_template_clear
    #contenedor 
        .filtros
            h2 FILTROS 
            h3 Marca 
            input(type="text")
            .checkbox
                label
                    input(type="checkbox" value="SAMSUNG")
                    | SAMSUNG
            .checkbox
                label 
                    input(type="checkbox" value="LG")
                    | LG
            .checkbox
                label
                    input(type="checkbox" value="XIAOMI")
                    | XIAOMI
            .checkbox
                label
                    input(type="checkbox" value="MOTOROLA")
                    | MOTOROLA
            .checkbox
                label
                    input(type="checkbox" value="HUAWEI")
                    | HUAWEI
            .checkbox
                label
                    input(type="checkbox" value="APPLE")
                    | APPLE
            h3 Precio 
            p Selecciona un rango de precio para filtrar tu búsqueda:
            input(type="range" min="500" max="5000" value="2500")
            input(type="submit"  value="Aplicar filtros")
        .productos
            .cmb
                select
                    option(value="opcion1" selected) Recomendados
                    option(value="opcion2") Mayor Precio
                    option(value="opcion3") Menor Precio
                    option(value="opcion4") Más Vendidos
            .producto
                each item in [1,2,3,4,5,6,7,8]
                    .card
                        img(src=img_uno, alt="Samsung Galaxy A33 5G")
                        h3 Samsung Galaxy A33 5G
                        p S/1248
                        input(type="submit" value="Añadir al carrito")
                