-
    options = [
        {value : '',option : 'Departamento de entrega'},
        {value : 'Lima',option : 'Lima'},
        {value : 'Amazonas',option : 'Amazonas'},
        {value : 'Ancash',option : 'Ancash'},
        {value : 'Apurimac',option : 'Apurimac'},
        {value : 'Arequipa',option : 'Arequipa'},
        {value : 'Ayacucho',option : 'Ayacucho'},
        {value : 'Cajamarca',option : 'Cajamarca'},
        {value : 'Callao',option : 'Callao'},
        {value : 'Cusco',option : 'Cusco'},
        {value : 'Huancavelica',option : 'Huancavelica'},
        {value : 'Huánuco',option : 'Huánuco'},
        {value : 'Ica',option : 'Ica'},
        {value : 'Junin',option : 'Junin'},
        {value : 'La Libertad',option : 'La Libertad'},
        {value : 'Lambayeque',option : 'Lambayeque'},
        {value : 'Loreto',option : 'Loreto'},
        {value : 'Madre de Dios',option : 'Madre de Dios'},
        {value : 'Moquegua',option : 'Moquegua'},
        {value : 'Pasco',option : 'Pasco'},
        {value : 'Piura',option : 'Piura'},
        {value : 'Puno',option : 'San Martín'},
        {value : 'Tacna',option : 'Tacna'},
        {value : 'Tumbes',option : 'Tumbes'},
        {value : 'Ucayali',option : 'Ucayali'}        
    ]