<footer class="lq-efooter">
    <div class="lq-efooter__util cf"><a class="lq-util__link" href="https://www.entel.pe/mapa-de-tiendas/"><span class="lq-eicon"><img src="https://www.entel.pe/wp-content/themes/entelperu/css/images/ico-tiendas-desk.png" srcset="https://www.entel.pe/wp-content/themes/entelperu/css/images/ico-tiendas-desk.png 1x, https://www.entel.pe/wp-content/themes/entelperu/css/images/ico-tiendas-desk@2x.png 2x" alt="tiendas"></span>tiendas</a><a class="lq-util__link" href="https://www.entel.pe/busqueda-cobertura/"><span class="lq-eicon"><img src="https://www.entel.pe/wp-content/themes/entelperu/css/images/ico-cobertura-desk.png" srcset="https://www.entel.pe/wp-content/themes/entelperu/css/images/ico-cobertura-desk.png 1x, https://www.entel.pe/wp-content/themes/entelperu/css/images/ico-cobertura-desk@2x.png 2x" alt="cobertura"></span>cobertura</a><a class="lq-util__link is-util-active" href="https://miportal.entel.pe/marketing/centro-ayuda/"><span class="lq-eicon"><img src="https://www.entel.pe/wp-content/themes/entelperu/css/images/ico-ayuda-desk.png" srcset="https://www.entel.pe/wp-content/themes/entelperu/css/images/ico-ayuda-desk.png 1x, https://www.entel.pe/wp-content/themes/entelperu/css/images/ico-ayuda-desk@2x.png 2x" alt="ayuda"></span>AYUDA</a></div>
    <div class="lq-efooter__menu">
        <div class="lq-container_menu cf">
            <ul id="menu-menu-personas-footer" class="lq-emenu">
                <li id="menu-item-381816" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-381816"><a href="#">Acerca de Entel</a>
                    <ul class="sub-menu">
                        <li id="menu-item-387338" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-387338"><a href="https://www.entel.pe/personas/canales-de-contacto/">Canales de Contacto</a></li>
                        <li id="menu-item-381826" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-381826"><a href="https://www.trabajaenentel.pe/">Trabaja en Entel</a></li>
                        <li id="menu-item-381824" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-381824"><a href="https://www.entel.pe/sostenibilidad/">Sostenibilidad</a></li>
                        <li id="menu-item-389977" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-389977"><a href="https://www.entel.pe/busqueda-cobertura/">Mapa de Cobertura</a></li>
                        <li id="menu-item-404627" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-404627"><a href="https://www.entel.pe/sala-de-prensa">Sala de Prensa</a></li>
                        <li id="menu-item-396915" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-396915"><a href="https://www.entel.pe/personas/informacion-corporativa/">Estructura Corporativa</a></li>
                        <li id="menu-item-393284" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-393284"><a title="target=”_blank”" href="https://www.entel.pe/wp-content/uploads/2019/11/lineamietos-para-tiendas-entel-dog-friendly.docx">Lineamientos Dog Friendly</a></li>
                        <li id="menu-item-406388" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-406388"><a href="https://www.entel.pe/servicio-tecnico/">Servicio Técnico</a></li>
                        <li id="menu-item-398311" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-398311"><a href="https://www.entel.pe/app/">App Mi Entel</a></li>
                        <li id="menu-item-403836" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-403836"><a href="https://www.entel.pe/por-que-entel/">Por qué Entel</a></li>
                    </ul>
                </li>
                <li id="menu-item-381831" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-381831"><a href="#">Información</a>
                    <ul class="sub-menu">
                        <li id="menu-item-381830" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-381830"><a href="https://www.entel.pe/wp-content/uploads/2019/11/MEDIDAS-AUTORIZADAS-RELATIVAS-A-LA-NEUTRALIDAD-DE-RED-IMPLEMENTADAS.pdf">Neutralidad de Red</a></li>
                        <li id="menu-item-381833" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-381833"><a href="https://www.entel.pe/mantenimiento/">Mantenimiento de Red</a></li>
                        <li id="menu-item-381836" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-381836"><a href="https://www.entel.pe/wp-content/uploads/2019/11/convenio-para-el-uso-y-privacidad-de-la-pagina-web-de-entel-peru.pdf">Condiciones de uso</a></li>
                        <li id="menu-item-381838" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-381838"><a href="https://www.entel.pe/personas/servicios/larga-distancia-internacional/">Larga Distancia Entel</a></li>
                        <li id="menu-item-383409" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-383409"><a href="https://www.entel.pe/promo/planes-afiliados-conadis/">Acceso CONADIS</a></li>
                        <li id="menu-item-385695" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-385695"><a href="https://www.entel.pe/listado-de-tarifas-y-promociones/">Listado de tarifas y promociones</a></li>
                        <li id="menu-item-391777" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-391777"><a target="_blank" rel="noopener noreferrer" href="https://serviciosweb.osiptel.gob.pe/ConsultaSIRT/Buscar/frmConsultaTar.aspx">Sistema de Consultas de Tarifas</a></li>
                        <li id="menu-item-393781" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-393781"><a href="https://www.entel.pe/informacion-sobre-bloqueo-por-imei-invalido/">Bloqueo por IMEI inválido</a></li>
                        <li id="menu-item-394539" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-394539"><a href="https://www.entel.pe/personas/servicios/roaming/roaming-internacional/">Roaming</a></li>
                        <li id="menu-item-398999" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-398999"><a href="https://www.entel.pe/politica-de-proteccion-de-datos-personales/">Políticas de Privacidad</a></li>
                    </ul>
                </li>
                <li id="menu-item-381828" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-381828"><a href="#">Solicitudes y reclamos</a>
                    <ul class="sub-menu">
                        <li id="menu-item-387464" class="entel-item-destacado menu-item menu-item-type-post_type menu-item-object-page menu-item-387464"><a href="https://www.entel.pe/personas/ayuda-y-soporte/reclamos-y-solicitudes/">Reclamos y Solicitudes en línea</a></li>
                        <li id="menu-item-387086" class="menu-item menu-item-type-post_type menu-item-object-promociones menu-item-387086"><a href="https://www.entel.pe/promo/sismate/">SISMATE</a></li>
                        <li id="menu-item-381844" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-381844"><a href="https://apps.acepta.pe/peru-me/pages/ronin/busquedaPublica.xhtml">Facturación electrónica</a></li>
                        <li id="menu-item-381845" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-381845"><a href="https://www.entel.pe/app-privado/?app=consulta_lineas">Consulta de titularidad</a></li>
                        <li id="menu-item-405481" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-405481"><a href="https://www.entel.pe/informacion-de-abonados-y-usuarios/">Información de abonados y usuarios</a></li>
                        <li id="menu-item-402534" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-402534"><a href="https://www.entel.pe/devoluciones-exabonados/">Devoluciones Ex Abonados</a></li>
                        <li id="menu-item-398848" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-398848"><a href="https://www.entel.pe/indicadores-de-calidad/">Indicadores de Calidad</a></li>
                        <li id="menu-item-398849" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-398849"><a href="https://www.osiptel.gob.pe/categoria/indicadores-calidad-centros-poblados-urbanos">Indicadores OSIPTEL</a></li>
                        <li id="menu-item-381847" class="entel-item-destacado menu-item menu-item-type-post_type menu-item-object-page menu-item-381847"><a href="https://www.entel.pe/comunicacion-en-situaciones-de-emergencia-en-caso-de-desastres-naturales/">Emergencias 119</a></li>
                        <li id="menu-item-381858" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-381858"><a href="https://lineadedenuncia.ines.cl/lineadedenuncia/formulario/321546/">Denuncias no comerciales</a></li>
                        <li id="menu-item-381859" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-381859"><a href="https://midetuvelocidadentel.swissms.ch/">Speedtest</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="lq-emenu menu_descargas">
                <li>
                    <div class="buttons-bloque">
                        <p><span>Descarga nuestra</span> <span>App Mi Entel:</span></p>
                        <div>
                            <a href="https://itunes.apple.com/es/app/id925872656?mt=8" target="_blank">
                                <picture>
                                    <source srcset="https://www.entel.pe/wp-content/themes/entelperu/css/images/bot-appstore-desk.jpg 1x, https://www.entel.pe/wp-content/themes/entelperu/css/images/bot-appstore-desk@2x.jpg 2x" media="(min-width: 768px)"><img src="https://www.entel.pe/wp-content/themes/entelperu/css/images/bot-appstore-mob.jpg" srcset="https://www.entel.pe/wp-content/themes/entelperu/css/images/bot-appstore-mob.jpg 1x, https://www.entel.pe/wp-content/themes/entelperu/css/images/bot-appstore-mob@2x.jpg 2x" alt="App Store">
                                </picture>
                            </a>
                            <a href="https://play.google.com/store/apps/details?id=com.entel.movil" target="_blank">
                                <picture>
                                    <source srcset="https://www.entel.pe/wp-content/themes/entelperu/css/images/bot-googleplay-desk.jpg 1x, https://www.entel.pe/wp-content/themes/entelperu/css/images/bot-googleplay-desk@2x.jpg 2x" media="(min-width: 768px)"><img src="https://www.entel.pe/wp-content/themes/entelperu/css/images/bot-googleplay-mob.jpg" srcset="https://www.entel.pe/wp-content/themes/entelperu/css/images/bot-googleplay-mob.jpg 1x, https://www.entel.pe/wp-content/themes/entelperu/css/images/bot-googleplay-mob@2x.jpg 2x" alt="Google Play">
                                </picture>
                            </a>
                        </div>
                        <div class="lq-efooter__grupo">
                            <ul class="lq-efooter__social">
                                <li>Síguenos en:</li>
                                <li>
                                    <a href="https://www.facebook.com/EntelPeru" target="_blank"><img class="no-lazy" src="https://www.entel.pe/wp-content/themes/entelperu/css/images/ico-facebook-desk.png" alt="Facebook"></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/Entel_Peru/" target="_blank"><img class="no-lazy" src="https://www.entel.pe/wp-content/themes/entelperu/css/images/ico-instagram-desk.png" alt="Instagram"></a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/EntelPeru" target="_blank"><img class="no-lazy" src="https://www.entel.pe/wp-content/themes/entelperu/css/images/ico-twitter-desk.png" alt="Twitter"></a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/user/PeruEntel" target="_blank"><img class="no-lazy" src="https://www.entel.pe/wp-content/themes/entelperu/css/images/ico-youtube-desk.png" alt="Youtube"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="lq-efooter__redes">
        <div class="lq-container_menu cf">
            <div class="lq-efooter__complaintsbook">
                <a href="https://www.entel.pe/libro-de-reclamaciones/" title="Libro de reclamaciones">
                    <picture>
                        <source srcset="https://www.entel.pe/wp-content/themes/entelperu/css/images/ico-book-desk.png" media="(min-width:768px)" alt="Complaints book"><img src="https://www.entel.pe/wp-content/themes/entelperu/css/images/ico-book-mob.png" alt="Complaints book">
                    </picture><span>Libro de <br>Reclamaciones</span></a>
            </div>
        </div>
    </div>
    <div class="lq-efooter__copy">
        <div class="lq-container_menu cf">
            <div class="lq-efooter__copyrigtht cf">
                <p>Copyright 2020. Todos los derechos reservados.</p>
                <p>
                    <a href="https://www.entel.pe/wp-content/themes/entelperu/docs/Convenio_para_el_uso_y_privacidad_de_la_pagina_web_de_Entel_Peru_S.A.pdf"><img src="https://www.entel.pe/wp-content/themes/entelperu/css/images/ico-secure-foo-desk.png" srcset="https://www.entel.pe/wp-content/themes/entelperu/css/images/ico-secure-foo-desk.png 1x, https://www.entel.pe/wp-content/themes/entelperu/css/images/ico-secure-foo-desk@2x.png 2x" alt="Condiciones de uso y privacidad del sitio">Condiciones de uso y privacidad del sitio</a>
                    <a href="https://www.entel.pe/libro-de-reclamaciones/"> <img src="https://www.entel.pe/wp-content/themes/entelperu/css/images/ico-book-foo-desk.png" srcset="https://www.entel.pe/wp-content/themes/entelperu/css/images/ico-book-foo-desk.png 1x, https://www.entel.pe/wp-content/themes/entelperu/css/images/ico-book-foo-desk@2x.png 2x" alt="Complaints book">Libro de Reclamaciones</a>
                </p>
            </div>
        </div>
    </div>
</footer>