<div class="entel-menu-overlay"></div>
<div class="lq-no-header"></div>
<div class="lq-wrapper__menu lq-wrapper__menu-no-home">
    <nav class="lq-enav-page cf">
        <ul class="lq-emenu">
            <li class="active"><a href="https://www.entel.pe/" title="Personas" data-gtm-name="Elementos transversales" data-gtm-category="Menu 1er nivel" data-gtm-action="Click" data-gtm-label="Personas">Personas</a></li>
            <li class=""><a href="https://www.entel.pe/hogar" title="Hogar" data-gtm-name="Elementos transversales" data-gtm-category="Menu 1er nivel" data-gtm-action="Click" data-gtm-label="Hogar">Hogar</a></li>
            <li><a href="https://www.entel.pe/empresas" title="Empresas" data-gtm-name="Elementos transversales" data-gtm-category="Menu 1er nivel" data-gtm-action="Click" data-gtm-label="Empresas">Empresas</a></li>
        </ul>
    </nav>

    <header id="header" class="lq-eheader">
        <div class="" id="overlay_eheader"></div>
        <div class="lq-container_menu cf">
            <div class="lq-eheader__brand">
                <p class="lq-eheader__logo">
                    <a href="https://www.entel.pe/" title="Entel Perú"><img src="https://www.entel.pe/wp-content/themes/entelperu/css/images/logo-entel.svg" alt="Logo Entel"></a>
                </p>
                <div class="lq-eheader__page-name">Personas</div>
                <button class="lq-eheader__button button-open-menu"><img src="https://www.entel.pe/wp-content/themes/entelperu/css/images/icon-menu.svg" alt="Menú"></button>
                <a href="https://catalogo.entel.pe/" class="lq-eheader__cart-button">&nbsp;</a>
            </div>

            <div class="lq-enav cf">
                <div class="lq-enav__bar">
                    <div class="lq-eheader__logo">
                        <a href="https://www.entel.pe/" title="Entel Perú"><img src="https://www.entel.pe/wp-content/themes/entelperu/css/images/logo-entel.svg" alt="Logo Entel"></a>
                    </div>
                    <button class="lq-eheader__button button-close-menu"><img src="https://www.entel.pe/wp-content/themes/entelperu/css/images/icon-close.svg" alt="Cerrar"></button>
                    <button class="lq-eheader__button show-search-mobile"><img src="https://www.entel.pe/wp-content/themes/entelperu/css/images/icon-search.svg" alt="Buscar"></button>
                </div>

                <a href="https://mxz57.app.goo.gl/AppEntel" class="lq-emenu-migra" title="App Entel Perú" data-gtm-name="Elementos Transversales - Personas" data-gtm-category="Menu 2do nivel - Personas" data-gtm-action="Para mi" data-gtm-label="Cobertura" target="_blank">
                    App Entel Perú <img src="https://www.entel.pe/wp-content/uploads/2020/01/menu-flecha.png" alt="flecha">
                </a>

                <nav class="lq-enav__primary">
                    <div class="lq-epage abrir_menu_inicial" style="background-image: url(https://www.entel.pe/wp-content/uploads/2017/09/para-mi.jpg);">
                        <a class="lq-epage__name" href="javascript:void(0)"><img src="https://www.entel.pe/wp-content/themes/entelperu/css/images/arrow-left.svg" alt="Para Mí" width="16" heigth="28"><span>Personas</span></a>
                    </div>
                    <ul id="menu-menu-personas-para-mi" class="lq-emenu lq-emenu__primary lq-menu-principal">
                        <li id="menu-item-381789" class="featured-ecommerce menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-381789"><a href="https://catalogo.entel.pe/personas/celulares" class="is-open"><span>Tienda</span></a>
                            <ul class="sub-menu visible">
                                <li id="menu-item-381791" class="sub-menu-icon is-plan menu-item menu-item-type-custom menu-item-object-custom menu-item-381791"><a href="#"><span>Ícono</span></a></li>
                                <li id="menu-item-387973" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-387973"><a href="https://catalogo.entel.pe/personas/celulares?modalidad=migra-postpago"><span>Migra Postpago</span></a></li>
                                <li id="menu-item-392833" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-392833"><a href="https://catalogo.entel.pe/personas/celulares?modalidad=renovacion-postpago"><span>Renovación Postpago</span></a></li>
                                <li id="menu-item-388516" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-388516"><a href="https://catalogo.entel.pe/personas/celulares?modalidad=linea-nueva-postpago"><span>Línea Nueva Postpago</span></a></li>
                                <li id="menu-item-387975" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-387975"><a href="https://catalogo.entel.pe/personas/celulares?modalidad=equipos-libres"><span>Celulares Liberados</span></a></li>
                            </ul>
                        </li>
                        <li id="menu-item-381770" class="featured-eccomerce menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-381770"><a href="#" class="is-open"><span>Postpago</span></a>
                            <ul class="sub-menu visible">
                                <li id="menu-item-381771" class="sub-menu-icon is-product menu-item menu-item-type-custom menu-item-object-custom menu-item-381771"><a href="#"><span>Ícono</span></a></li>
                                <li id="menu-item-381915" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-381915"><a href="https://www.entel.pe/celulares-postpago/planes/"><span>Planes</span></a></li>
                                <li id="menu-item-392832" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-392832"><a href="https://catalogo.entel.pe/personas/celulares?modalidad=migra-postpago"><span>Migra</span></a></li>
                                <li id="menu-item-392831" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-392831"><a href="https://catalogo.entel.pe/personas/celulares?modalidad=renovacion-postpago"><span>Renueva</span></a></li>
                                <li id="menu-item-400763" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-400763"><a href="https://www.entel.pe/garantia-entel/"><span>Garantía Entel</span></a></li>
                                <li id="menu-item-389905" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-389905"><a href="https://www.entel.pe/celulares-postpago/bolsas/"><span>Bolsas</span></a></li>
                                <li id="menu-item-394458" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-394458"><a href="https://www.entel.pe/internet-postpago/planes/"><span>Internet Móvil</span></a></li>
                                <li id="menu-item-396511" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-396511"><a href="https://www.entel.pe/entelplay/"><span>Entel Play</span></a></li>
                            </ul>
                        </li>
                        <li id="menu-item-381781" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-381781"><a href="#" class="is-open"><span>Prepago</span></a>
                            <ul class="sub-menu visible">
                                <li id="menu-item-381782" class="sub-menu-icon is-prepago menu-item menu-item-type-custom menu-item-object-custom menu-item-381782"><a href="#"><span>Ícono</span></a></li>
                                <li id="menu-item-389906" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-389906"><a href="https://www.entel.pe/celulares-prepago/prepago-power/"><span>Prepago Power</span></a></li>
                                <li id="menu-item-393109" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-393109"><a href="https://www.entel.pe/celulares-prepago/chip-29/"><span>Chip 29</span></a></li>
                                <li id="menu-item-389907" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-389907"><a href="https://www.entel.pe/celulares-prepago/superbolsas/"><span>Súper bolsas</span></a></li>
                                <li id="menu-item-389908" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-389908"><a href="https://www.entel.pe/celulares-prepago/servicios/"><span>Servicios</span></a></li>
                                <li id="menu-item-389909" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-389909"><a href="https://www.entel.pe/celulares-prepago/migra/"><span>Migra</span></a></li>
                            </ul>
                        </li>
                        <li id="menu-item-381796" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-381796"><a href="https://www.entel.pe/promociones" class="is-open"><span>Promos</span></a>
                            <ul class="sub-menu visible">
                                <li id="menu-item-381797" class="sub-menu-icon is-promo menu-item menu-item-type-custom menu-item-object-custom menu-item-381797"><a href="#"><span>Ícono</span></a></li>
                                <li id="menu-item-392019" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-392019"><a href="https://www.entel.pe/promociones/#postpago"><span>Promos Postpago</span></a></li>
                                <li id="menu-item-392020" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-392020"><a href="https://www.entel.pe/promociones/#prepago"><span>Promos Prepago</span></a></li>
                                <li id="menu-item-396510" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-396510"><a href="https://www.entel.pe/promociones/#hogar"><span>Promos Hogar</span></a></li>
                                <li id="menu-item-389260" class="menu-item menu-item-type-post_type menu-item-object-promociones menu-item-389260"><a href="https://www.entel.pe/promo/eres-entel-eres-cine/"><span>PROMO CINE</span></a></li>
                                <li id="menu-item-403104" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-403104"><a href="https://www.entel.pe/bembos/"><span>PROMO BEMBOS</span></a></li>
                                <li id="menu-item-403120" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-403120"><a href="https://www.entel.pe/promociones/"><span>VER TODAS</span></a></li>
                            </ul>
                        </li>
                        <li id="menu-item-387821" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-387821"><a href="https://miportal.entel.pe/marketing/centro-ayuda/"><span>Ayuda</span></a></li>
                    </ul>
                </nav>

                <nav class="menu__inicial">
                    <a class="bloque-para-mi cerrar_menu_inicial" href="https://www.entel.pe/">
                        <span>Personas</span>
                        <img src="https://www.entel.pe/wp-content/themes/entelperu/css/images/arrow-left.svg" alt="Personas" width="16" heigth="28">
                    </a>

                    <a class="bloque-para-mi-casa " href="https://www.entel.pe/hogar">
                        <span>Hogar</span>
                        <img src="https://www.entel.pe/wp-content/themes/entelperu/css/images/arrow-left.svg" alt="Hogar" width="16" heigth="28">
                    </a>

                    <a class="bloque-para-mi-empresa" href="https://www.entel.pe/empresas">
                        <span>Empresas</span>
                        <img src="https://www.entel.pe/wp-content/themes/entelperu/css/images/arrow-left.svg" alt="Empresas" width="16" heigth="28">
                    </a>
                </nav>

                <button class="lq-eheader__button show-search-desktop" data-gtm-name="Elementos Transversales - Personas" data-gtm-category="Menu 2do nivel - Personas" data-gtm-action="Personas" data-gtm-label="Buscador"><img src="https://www.entel.pe/wp-content/themes/entelperu/css/images/icon-search.svg" alt="Buscar"></button>

                <div class="lq-esearch">
                    <form method="get" id="mega_main_menu_searchformo2" action="" class="lq-esearch__form">
                        <input class="lq-esearch__input" type="text" name="s" placeholder="Buscar">
                        <button class="lq-eheader__button submit-form" type="submit"><img src="https://www.entel.pe/wp-content/themes/entelperu/css/images/icon-search.svg" alt="Buscar"></button>
                        <button class="lq-eheader__button close-form"><img src="https://www.entel.pe/wp-content/themes/entelperu/css/images/icon-close.svg" alt="Cerrar"></button>
                    </form>
                </div>

                <div class="lq-enav__user">
                    <ul class="lq-emenu">
                        <li class="migra"><a href="/cobertura-entel-llega/" title="Migra" data-gtm-name="Elementos transversales" data-gtm-category="Menu 1er nivel" data-gtm-action="Click" data-gtm-label="Cobertura">Cobertura</a></li>
                        <li class="operacion"><a href="https://miportal.entel.pe/marketing/operaciones-online/" title="Operaciones Online" data-gtm-name="Elementos transversales" data-gtm-category="Menu 1er nivel" data-gtm-action="Click" data-gtm-label="Operaciones Online">Operaciones Online</a>
                            <!--?//php wp_nav_menu($arg_menu_operaciones); ?-->
                        </li>
                        <li class="mientel"><a href="https://mi.entel.pe/portal/server.pt?" title="Mi Entel" data-gtm-name="Elementos transversales" data-gtm-category="Menu 1er nivel" data-gtm-action="Click" data-gtm-label="Mi Entel">Mi Entel</a></li>
                    </ul>
                </div>
                <div class="lq-enav__aside">
                    <ul class="lq-emenu">
                        <li><a href="https://www.entel.pe/app/">App</a></li>
                        <li><a href="https://www.entel.pe/tiendas/">Tienda</a></li>
                        <li><a href="#">Asistencia</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="lq-menu-overlay show-big-screen" style="height: 0px;"></div>
    </header>
</div>