if(process.env.NODE_ENV !== 'production')
    title !{title_page}
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="title" content="")
    meta(name="description", content= "")
    link(rel="canonical" href="")


    <link rel="shortcut icon" href="https://www.entel.pe/wp-content/themes/entelperu/images/iconos/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="https://www.entel.pe/xmlrpc.php">
    <link href="https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://www.entel.pe/wp-content/themes/entelperu/css/menu/menu.css?EntelM=202002202" />

    <link rel="stylesheet" type="text/css" href="https://www.entel.pe/wp-content/themes/entelperu/css/checkout_popup.css"/>

    style(type="text/css" media="screen").
        @font-face {
            font-family: 'DINNextLTPro-Light';
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Light.eot?#iefix') format('embedded-opentype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Light.woff') format('woff'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Light.ttf') format('truetype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Light.svg') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'dinnext bold';
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Bold.eot');
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Bold.eot?#iefix') format('embedded-opentype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Bold.woff') format('woff'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Bold.ttf') format('truetype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Bold.svg#dinnext_bold') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'dinnext medium';
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.eot');
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.woff') format('woff'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.ttf') format('truetype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.svg#dinnext_medium') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'dinnext regular';
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.eot');
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.woff') format('woff'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.ttf') format('truetype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.svg#dinnext_regular') format('svg');
                font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'MyriadPro-Light';
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/MyriadPro-Light.eot?#iefix') format('embedded-opentype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/MyriadPro-Light.otf') format('opentype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/MyriadPro-Light.woff') format('woff'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/MyriadPro-Light.ttf') format('truetype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/MyriadPro-Light.svg#MyriadPro-Light') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'DINNextLTPro-RegularItalic';
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-RegularItalic.eot?#iefix') format('embedded-opentype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-RegularItalic.otf') format('opentype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-RegularItalic.woff') format('woff'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-RegularItalic.ttf') format('truetype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-RegularItalic.svg#DINNextLTPro-RegularItalic') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'DINNextLTPro-BoldItalic';
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-BoldItalic.eot?#iefix') format('embedded-opentype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-BoldItalic.otf') format('opentype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-BoldItalic.woff') format('woff'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-BoldItalic.ttf') format('truetype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-BoldItalic.svg#DINNextLTPro-BoldItalic') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'DINNextLTPro-HeavyItalic';
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-HeavyItalic.eot?#iefix') format('embedded-opentype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-HeavyItalic.otf') format('opentype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-HeavyItalic.woff') format('woff'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-HeavyItalic.ttf') format('truetype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-HeavyItalic.svg#DINNextLTPro-HeavyItalic') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'DINNextLTPro-Italic';
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Italic.eot?#iefix') format('embedded-opentype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Italic.otf') format('opentype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Italic.woff') format('woff'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Italic.ttf') format('truetype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Italic.svg#DINNextLTPro-Italic') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'DINNextLTPro-Light';
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Light.eot?#iefix') format('embedded-opentype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Light.woff') format('woff'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Light.ttf') format('truetype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Light.svg') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'dinnext bold';
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Bold.eot');
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Bold.eot?#iefix') format('embedded-opentype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Bold.woff') format('woff'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Bold.ttf') format('truetype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Bold.svg#dinnext_bold') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'dinnext medium';
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.eot');
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.woff') format('woff'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.ttf') format('truetype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.svg#dinnext_medium') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'dinnext regular';
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.eot');
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.woff') format('woff'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.ttf') format('truetype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.svg#dinnext_regular') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'MyriadPro-Light';
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/HelveticaNeue Regular.ttf?#iefix') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'DINNextLTPro-RegularItalic';
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-RegularItalic.eot?#iefix') format('embedded-opentype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-RegularItalic.otf') format('opentype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-RegularItalic.woff') format('woff'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-RegularItalic.ttf') format('truetype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-RegularItalic.svg#DINNextLTPro-RegularItalic') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'DINNextLTPro Medium';
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.eot');
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.woff') format('woff'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.ttf') format('truetype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.svg#dinnext_medium') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'DINNextLTPro LightItalic';
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-LightItalic.otf') format('opentype');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'DINNextLTPro Light';
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Light.eot?#iefix') format('embedded-opentype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Light.woff') format('woff'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Light.ttf') format('truetype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Light.svg') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'DINNextLTPro Regular';
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.eot');
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.woff') format('woff'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.ttf') format('truetype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Regular.svg#dinnext_regular') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'DINNextLTPro Bold';
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Bold.otf') format('opentype'),
            url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Bold.woff') format('woff'), 
            url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Bold.ttf') format('truetype'), 
            url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-Bold.svg#dinnext_bold') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'DINNextLTPro-UltraLightIt';
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-UltraLightIt.otf') format('opentype'),
            url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-UltraLightIt.woff') format('woff'), 
            url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-UltraLightIt.ttf') format('truetype'), 
            url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-UltraLightIt.svg#DINNextLTPro-UltraLightIt') format('svg');
            font-weight: normal;
            font-style: normal;
        }
            @font-face {
            font-family: 'DINNextLTPro-UltraLight';
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-UltraLight.otf') format('opentype'),
            url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-UltraLight.woff') format('woff'), 
            url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-UltraLight.ttf') format('truetype'), 
            url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-UltraLight.svg#DINNextLTPro-UltraLight') format('svg');
            font-style: normal;
        }

        @font-face {
            font-family: 'HelveticaNeue Regular';
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/HelveticaNeue Regular.ttf') format('opentype');
            font-weight: normal;
            font-style: normal;
        }

            @font-face {
            font-family: 'DINNextLTPro-MediumItalic';
            src: url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-MediumItalic.eot?#iefix') format('embedded-opentype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-MediumItalic.otf') format('opentype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-MediumItalic.woff') format('woff'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-MediumItalic.ttf') format('truetype'), url('https://www.entel.pe/wp-content/themes/entelperu/fonts/DINNextLTPro-MediumItalic.svg#DINNextLTPro-MediumItalic') format('svg');
            font-weight: normal;
            font-style: normal;
        }

    <link rel='stylesheet' id='mmm_mega_main_menu-css'  href='https://www.entel.pe/wp-content/plugins/mega_main_menu/src/css/blanco/cache.skin.css?ver=5.2.3' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-block-library-css'  href='https://www.entel.pe/wp-includes/css/dist/block-library/style.min.css?ver=5.2.3' type='text/css' media='all' />
    <link rel='stylesheet' id='mm_icomoon-css'  href='https://www.entel.pe/wp-content/plugins/mega_main_menu/framework/src/css/icomoon.css?ver=2.1.1' type='text/css' media='all' />
    <link rel='stylesheet' id='jigoshop_required-css'  href='https://www.entel.pe/wp-content/plugins/jigoshop/assets/css/required.css?ver=5.2.3' type='text/css' media='all' />
    <link rel='stylesheet' id='rich-reviews-css'  href='https://www.entel.pe/wp-content/plugins/rich-reviews/css/rich-reviews.css?ver=5.2.3' type='text/css' media='all' />
    <link rel='stylesheet' id='fancybox-css'  href='https://www.entel.pe/wp-content/plugins/easy-fancybox/fancybox/jquery.fancybox-1.3.7.min.css?ver=1.5.7' type='text/css' media='screen' />
    <script type='text/javascript' src='https://www.entel.pe/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp'></script>
    <script type='text/javascript' src='https://www.entel.pe/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>

    script.
        /* <![CDATA[ */
        var jigoshop_params = {"ajax_url":"https:\/\/www.entel.pe\/wp-admin\/admin-ajax.php","assets_url":"https:\/\/www.entel.pe\/wp-content\/plugins\/jigoshop","checkout_url":"https:\/\/www.entel.pe\/wp-admin\/admin-ajax.php?action=jigoshop-checkout","currency_symbol":"S\/.","get_variation_nonce":"c5e77c48d0","load_fancybox":"","option_guest_checkout":"yes","select_state_text":"Select a state\u2026","state_text":"state","ratings_message":"Please select a star to rate your review.","update_order_review_nonce":"41a6a6d6b8","billing_state":"","shipping_state":"","is_checkout":""};
        /* ]]> */

    <script type='text/javascript' src='https://www.entel.pe/wp-content/plugins/jigoshop/assets/js/global.js?ver=5.2.3'></script>
    <script type='text/javascript' src='https://www.entel.pe/wp-content/plugins/jigoshop/assets/js/blockui.js?ver=5.2.3'></script>
    <script type='text/javascript' src='https://www.entel.pe/wp-content/plugins/rich-reviews/js/rich-reviews.js?ver=5.2.3'></script>

    <!-- Scrip menu personas debe cargar de ultimo y asincronico -->
    <script async type='text/javascript' src='https://www.entel.pe/wp-content/themes/entelperu/js/menu-personas/menu-entel.js?v=20200220211'></script>

    script.
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '621474275123575');
        fbq('track', 'PageView');