.container-responsive{
    max-width: 320px;
    margin: 0 auto;
    @include responsive-width($tablet_m){
        max-width: 720px;
    }
    @include responsive-width($laptop_s){
        max-width: 1024px;
    }
    @include responsive-width($laptop_m){
        max-width: 1200px;
    }
}

//clearfix

.cf,
%cf {
    &::before,
    &::after {
        content: '';
        display: table;
    }

    &::after {
        clear: both;
    }
}