// Layout
$container_desktop: 1660px;
$container: 1110px;
$container_laptop_s: 970px;
$container_tablet_m: 730px;

// Breakpoints
$mobile_s: 320px;
$mobile_m: 360px;
$mobile_l: 425px;
$tablet_s: 640px;
$tablet_m: 768px;
$tablet_l: 850px;
$tablet_ll: 992px;

$laptop_s: 1024px;
$laptop_m: 1280px;
$desktop_s: 1440px;
$desktop_m: 1750px;


//Colores Proyecto

$blanco: #F0F2F2;
$azul-oscuro:#010326;
$morado:#393E59;
$turqueza-o:#6FBFBF;
$turqueza-c:#82D9D9;

//Fuentes a usar
$font-title: 'Bebas Neue', sans-serif;
$font-text: 'Montserrat', sans-serif;
