mixin button(options)
    -
        string_classes = ''
        default_class = 'e-button e-button--orange '
        classes = (options && options.classes) ? options.classes : false

    //- get classes
    each string_class in classes
        -
            string_classes = 'e-button--' + string_classes + ' e-button--' + string_class

    //- validating type button
    if (options && options.type === 'anchor')
        a(class=default_class + string_classes)&attributes(attributes)
            if block
                block

    else
        button(class=default_class + string_classes)&attributes(attributes)
            if block
                block