mixin entel-brand(brand, icon)
    .e-brand__box
        a.entel-data-layer-btn-no-planes(href="https://catalogo.entel.pe/" + brand, id='home_brands',data-gtm-category="Home Entel", data-gtm-action="Seleccionar boton", data-gtm-label='equipo favorito - '+ brand)
            div(class=icon)