mixin breadcrumbs(listas)
    div(
        class="e-breadcrumbs"
        class!=attributes.class 
        )
        ul#breadcrumbs-list
            if block
                block

mixin breadcrumbs_link(url, title, order)
    - current = null
    if order == "last"
        - current = "css--active"
    li(class=current)
        +tag_a(url, title)&attributes(attributes)