//- 
    Info outline celeste
    Web de referencia https://www.entel.pe/empresas/app/
mixin note_info_outline
    .e-info-note(class!=attributes.class)
        .e-box-table.e-box-table--fixed
            span.app_empresas_info
            if block
                block