mixin table_legales_speed_info(tableClass)
    .e-table-speed-legales(class=tableClass)
        table
            thead
                tr
                    th Tecnología
                    th Velocidad ofrecida #[br](bajada / subida)
                    th Velocidad mínima garantizada #[br](bajada / subida)
            tbody
                tr
                    td 2G
                    td 0.06 Mbps / 0.012 Mbps
                    td 0.0240 Mbps / 0.0048 Mbps
                tr
                    td 3G
                    td 1 Mbps / 0.2 Mbps
                    td 0.4 Mbps / 0.08 Mbps
                tr
                    td 4G
                    td 3 Mbps / 0.6 Mbps
                    td 1.2 Mbps / 0.24 Mbps
                tr
                    td 5G
                    td 3.25 Mbps / 0.65 Mbps
                    td 1.3 Mbps / 0.26 Mbps