include _base
include _title
//- include _link
include _img
//- include _modal
//- include _tab
//- include _accordion
//- include _progressbar
//- include _breadcrumbs
//- include _brand
//- include _info
//- include _headband
//- include _table
//- include form/_e-input
//- include form/_picture
//- include personas/section_canales/_section_canales
//- include personas/section_canales/_subsliders
//- include ./../components/buttons
