+lazy_image_webp_retina("2021/08/e_message_icon_mobile","png",null,'empresas')
p.m-modal--empresas__thanks__duplica__title #[span.thanks-color-blue ¡Registro exitoso!]
p.m-modal--empresas__thanks__duplica__subtitle Te enviaremos un SMS de confirmación

.m-modal--empresas__thanks__duplica__content__masparati
  .m-modal--empresas__thanks__duplica__content__masparati--box
    .m-modal--empresas__thanks__duplica__content__masparati--box--insides
      p.m-modal--empresas__thanks__duplica__title_v2 Compra #[strong 2 líneas]  
      //- p.m-modal--empresas__thanks__duplica__subtitle Ahora tus #[strong líneas adicionales] cuestan 
      .m-modal--empresas__thanks__duplica__caja_display
        -
          imagenes = [
            {
              'image': '2022/04/e_message_equipo_texto_compra_2_paga_1',
              'media': '768',
            },
            {
              'image': '2022/04/e_message_equipo_texto_compra_2_paga_1_mob',
              'media': '0',
            }
          ]
        +image_retina_media_2(imagenes,"png","Cada una a S/ 29.90",'empresas').image-texto
    +lazy_image_webp_retina("2022/04/e_message_icon_equipos_compra_2_lineas","png",null,'empresas')
  p.m-modal--empresas__thanks__duplica__disclaimer En plan Empresario Full 69.90 con los mismos beneficios que la línea principal

  +tag_a('/empresas/lineas-adicionales/?utm_source=fidelizacion_duplica&utm_medium=propio&utm_campaign=tenemos_mas_para_ti&utm_term=boton_ver_equipos ', 'QUIERO MIS LÍNEAS')(
                    class='e-button e-button--orange e-button--small e-buttom_deacuerdo_duplica'
                )