+lazy_image_webp_retina("2021/04/e_message_icon_mister","png",null,'empresas')
p.m-modal--empresas__thanks__title #[span.thanks-color ¡Registro exitoso!]
p.m-modal--empresas__thanks__subtitle Te enviaremos un SMS de confirmación. Mira todas las promociones que tenemos para ti
+tag_a('https://www.entel.pe/empresas/', 'VER MÁS')(
                    class='e-button e-button--orange e-button--medium e-buttom_deacuerdo'
                )
