//- +lazy_image_webp_retina("2020/10/e_information_icon","png",null,'empresas')
//-     p.m-modal--empresas__thanks__title Gracias por tus datos
//-     p 
//-         span ¡Recuerda! Nuestra atención es de lunes a sábado, de 8:30 am a 8:30 pm.
//-     p 
//-         | Si has realizado tu solicitud fuera de este horario, ¡no te preocupes! 
//-         | Nuestros asesores te contactarán el primer día hábil siguiente.

//- +lazy_image_webp_retina("2020/10/e_message_icon_phone","png",null,'empresas')
//- -
//-   textImages = [
//-     {
//-       'image': '2021/04/e_message_icon_mister',
//-       'media': '640',
//-     },
//-     {
//-       'image': '2021/04/e_message_icon_mister_mob',
//-       'media': '0',
//-     }
//-   ]
//- +image_retina_media(textImages,'png', '')
+lazy_image_webp_retina("2021/04/e_message_icon_mister","png",null,'empresas')
p.m-modal--empresas__thanks__title #[span.thanks-color ¡Nos comunicaremos contigo] cuando el equipo llegue a tienda!
p.m-modal--empresas__thanks__subtitle Te has registrado en la preventa del iPhone 13. Nos comunicaremos contigo apenas llegue el stock a nuestra tienda.
