.m-modal--empresas__thanks-blindaje
    +lazy_image_webp_retina("2022/04/e_icon_success_blindaje","png",null,'empresas')
    p.m-modal--empresas__thanks__title #[b ¡Gracias por formar parte de la familia Entel!]
    .m-modal--empresas__thanks__subtitle
        p Recuerda que:
        .e-content-editor
            ul
                li El descuento en tu plan se verá reflejado en tu siguiente recibo.
                li Recibirás tu bono de 10GB o duplica tus GB, según tu plan tarifario, en tu siguiente inicio de ciclo.

+tag_a('https://www.entel.pe/empresas', 'Aceptar')(class='e-button e-button--orange e-button--medium')