.m-modal--empresas__thanks
    +lazy_image_webp_retina("2020/08/empresas_form_succes","png",null,'empresas')
    p.m-modal--empresas__thanks__title #[b Gracias por registrar tus datos]
    p.m-modal--empresas__thanks__subtitle Muy pronto nos comunicaremos contigo.
//-+tag_a('https://www.entel.pe/empresas/promociones', 'VER MÁS')(class='e-button e-button--orange e-button--medium e-buttom_deacuerdo')