p Válido del 07/09/20 al 30/09/20 con el plan Prepago Power. Para clientes que:
ul
  li Realicen recargas acumuladas iguales o mayores a S/30 durante el período de comercialización de la Promoción.
  li El orden de consumo de la Promoción, considerando otras promociones es:
    ol
      li Bono de la promoción.
      li Otros bonos a los que pueda acceder por sus recargas.

 
p Los usuarios que accedan a este bono recibirán un SMS de confirmación. El bono se activará automáticamente el próximo mes de octubre durante el 08/10/2020 y 15/10/2020.
p El bono tendrá una vigencia de 2 días calendario desde la asignación de éste o hasta que se consuma, lo que ocurra primero. 
p #[strong GB:] Los gigabytes son válidos para navegar vía APN #[a entel.pe.]
