#carrito{
    width: 400px;
    height: 800px;
    border: 1px solid rgba(128, 128, 128, 0.598);
    border-top: 8px solid #01acf4;
    border-radius: 25px;
    padding: 10px;
    position: fixed;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);

}

#carrito{
    .titulo{
        height: 7%;
        width: 100%;
        font-size: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #393e59;
    }
   

    #contenedor{
        width: 100%;
        height: 63%;
        display: flex;
        flex-direction: column;
        border-radius: 18px;
        padding: 10px 5px;
        border: 1px solid #6fbfbf5b;
        background: linear-gradient(145deg, #f3f0f0ef, #f0f0f083);
        box-shadow:  7px 7px 14px #f7f6f6,
                    -7px -7px 14px #f7f6f6;
    }

    .billing{
        width: 100%;
        height: 200px;
        font-size: 22px;
        padding: 10px;
        
    }
}

.billing{
   
    .subtotal, .sending, .total{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 35px;
        color: #393e59;
    }
    .total{
        font-weight: bold;
    }
    hr{
        border:none;
        height: 1px;
        background: rgba(141, 137, 137, 0.833);
    }
    button{
        height: 50px;
        width: 100%;
        border-radius: 25px;
        color: white;
        margin: 5px 0 ;
        font-size: 22px;
        background: #01acf4;
        border: 1px solid transparent;
    }
       
}

.producto{
        width: 100%;
        height: 100px;
        background: white;
        border: 1px solid rgba(194, 191, 191, 0.299);
        border-radius: 15px;
        margin-top: 5px;
        display: flex;
        align-items: center;
        padding: 0 10px;
        
    img{
        height: 80px;
        width: 80px;
    }

    .descripcion{
        height: 100%;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}