// Estilos básicos
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
@import "../../../base/base.scss";
@import "carrito.scss";
@import "home.scss";
@import "products.scss";




