* {
    margin: 0;
    padding: 0;
}
#contenedor{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgb(155, 133, 175);
}
#contenedor { 
    .filtros{
        flex: 1;
        width: 10%;
        height: 620px;
        margin-top: 40px;
        margin-right: 10px;
        border: 2px solid black;
        transition: transform 0.3s ease;
    }
    .productos{
        flex: 2;
        width: 90%;
    }
}
.producto{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 20px; 
    }

.producto{
    .card{
        width: 280px;
        height: 280px;
        border: 2px solid rgb(22, 23, 24);
        text-align: center;
        transition: transform 0.3s ease;
    }
}
.productos{
    .cmb{
        display: flex;
    }
}
.cmb{
    select{
        margin-left: auto;
        margin-right: 20px;
        margin-top: 10px;
        width: 200px;
        text-align: center;
    }
}
.card{
    img{
        width: 100px;
        height: 150px;
        margin-top: 10px;
        margin-right: 10px;
        border: 2px solid rgb(80, 78, 78);
        border-radius: 10px;
    }
    h3{
        font-size: 20px;
        margin-top: 5px;
    }
    p{
        font-size: 15px;
        margin: 5px;
    }
    input{
        background-color: rgb(42, 40, 40);
        color: rgb(221, 218, 212);
        border-radius: 10px;
        padding: 3px;
    }
}
.filtros{
    h2{
        padding: 20px 30px;
        font-size: 35px;
    }
    h3{
        padding: 10px 30px;
        font-size: 25px;
    }
    input[type="text"]{
        margin: 10px 30px;
    }
    input[type="checkbox"]{
        margin: 10px 30px;
    }

    p{
        padding: 5px 30px;
    }
    input[type="range"]{
        margin: 5px 60px;
    }
    input[type="submit"]{
        background-color: rgb(36, 35, 35);
        color: white;
        margin: 5px 60px;
        border-radius: 10px;
        padding: 5px;
    }
}.card:hover{
    background-color: rgb(184, 164, 202);
    box-shadow: 3px 3px;
    transform: scale(1.1);
}
.filtros:hover{
    background-color: rgb(184, 164, 202);
    transform: scale(1.1);
}
